Challenge 1 - Sorting/Sorting/obj/
.vs/QlikChallenges/v14/.suo
Challenge 1 - Sorting/Sorting/bin/Debug/
Challenge 1 - Sorting/Sorting/bin/Release/Sorting.exe.config
Challenge 1 - Sorting/Sorting/bin/Release/Sorting.pdb
Challenge 1 - Sorting/Sorting/bin/Release/Sorting.vshost.exe
Challenge 1 - Sorting/Sorting/bin/Release/Sorting.vshost.exe.config
Challenge 1 - Sorting/Sorting/bin/Release/Sorting.vshost.exe.manifest
Challenge 3 - Anagram/Anagram/bin/Debug/
Challenge 3 - Anagram/Anagram/bin/Release/Anagram.exe.config
Challenge 3 - Anagram/Anagram/bin/Release/Anagram.pdb
Challenge 3 - Anagram/Anagram/bin/Release/Anagram.vshost.exe
Challenge 3 - Anagram/Anagram/bin/Release/Anagram.vshost.exe.config
Challenge 3 - Anagram/Anagram/obj/
Challenge 2 - Palindrome/Palindrome/bin/Debug/
Challenge 2 - Palindrome/Palindrome/bin/Release/Palindrome.exe.config
Challenge 2 - Palindrome/Palindrome/bin/Release/Palindrome.pdb
Challenge 2 - Palindrome/Palindrome/obj/
Challenge 2 - Palindrome/Palindrome/bin/Release/Palindrome.vshost.exe
Challenge 2 - Palindrome/Palindrome/bin/Release/Palindrome.vshost.exe.config
Challenge 2 - Palindrome/Palindrome/bin/Release/Palindrome.vshost.exe.manifest
